* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
/* ------------- DESKTOP FORMAT ------------- */

@media (min-width: 1024px) {

.first{
    margin-left: 5rem;
}

.lateral{
    background-image: url('../img/background_0.png');
    height: 1000px;
    width: 50%;
    float: right;
    border-left: 200px solid white;
    border-top: 1000px solid transparent;
    background-attachment: fixed;
}
#logo{
    margin-top: 3rem;
}

.logo h2 {
    margin-left: 7rem;
    margin-top: -5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 60px;
    color: black;
}

.logo h2 span {
    font-weight: normal;
    font-size: 24px;
    position: relative; 
    top: -40px;
    color: black;
}

#new {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 115px;
    color: black;
}

p{
    font-size: 24px;
    line-height: 2;
}

#one {
margin-right: 25%;
line-height: 2;
}

#winner {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 250px;
    height: 250px;
}

.green-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: 25px;
    color:white;
    background-color:#3C974C;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem;
    width: 600px;
    margin: 1rem;
    
}

.green-button:hover {
    background-color:white;
    border: solid #3C974C;
    color: #3C974C;
}
.second{
    height: 800px;
    animation: pulse 5s infinite;
    position: relative;
}

@keyframes pulse {
    0% {
      background: #3C974C url("../img/background_3.png");
      
    }
    50% {
        background: #3C974C url("../img/background_2.png");
        -moz-transform: rotate(360deg);
    }
    100% {
        background: #3C974C url("../img/background_3.png");
        
      }
  }
#understand{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-left: 50%;
}
.second-box{
    margin-right: 8rem;
}
#two{
    margin-left: 50%;
    color: white;
    margin-bottom: -8rem;
    text-align: justify;
}
.white-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: 25px;
    color: #3C974C;
    background-color:white;
    border-radius: 10px;
    padding: 0.5rem;
    width: 600px;
    margin-top: 10%;
    position: absolute;
    z-index: 1;
    margin-left: 50%;
    
}
.white-button:hover {
    background-color:#3C974C;
    border: solid 2px; white;
    color: white;
}
#oil{
    position: absolute;
    bottom: 140px;
    left: 70px;
    z-index: 1;
}

#example{
    position: absolute;
    bottom: 70px;
    left: 390px;
    z-index: 1;
}
.third{
    min-height: 800px;
    background: url("../img/background_4.png");
    background-repeat: no-repeat;
}

#three{
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 10%;
    line-height: 2;
    color: #3C974C;
}

.fourth{
    margin-left: 8rem;
}

.b-box {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    color: black;
    padding-bottom: 2rem;
}
.four-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.four-flex-items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.separator{
    border-left: 4px solid #3C974C;
    height: 300px;
    padding-right: 0.5rem;
    padding-left: 3rem;
}
#relax-pack{
    width: 300px;
}
.img-logos{
    width: 250px;
    height: 250px;
}
.product{
  width: 100px;
  height: 100px;
}
.product-2{
  width:120px;
  height: 150px;
}
.pack-items img{
  width: 300px;
}
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}

.title{
    font-weight: 700;
    font-size: 30px;
    padding: 2rem;
}

.box-price{
    display: flex;
    flex-direction: column;
} 
.mail-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green-span{
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
}
.green-span:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.mail-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    color: white;
}
.mail-btn:hover{
    background-color: white;
    border: solid 2px #3C974C;
    margin: 2rem;
    color: #3C974C;
}
input{
    border: solid 1px rgb(175, 151, 151);
    padding:  1rem 5rem 1rem 5rem;
    font-size: 20px;
    text-align: center;

}
.fifth{
    margin-bottom: 6rem;
}
.fifth-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.fifth-subtitle{
    display: flex;
    justify-content: center;
}
.fifth-star{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin: 2rem;
}
.star-review{
    color:#3C974C;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}
.name{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;

}
.size{
    color: #3C974C;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.sixth{
    margin-top: 9rem;
    color: white;
    background-color: #3C974C;
    padding: 4rem;
}
.fqa{
    font-weight: bold;
    padding-bottom: 2rem;
}
.fqa-list{
    display: flex;
    justify-items: row;

}
.sixth p {
    font-size: 15px;
    text-align: justify;
}
.fqa-right{
    margin-left: 2rem;
}
}
