* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
/* ------------- DESKTOP FORMAT ------------- */

@media (min-width: 768px) {

.first{
    margin-left: 5rem;
}

.lateral{
    background-image: url('../img/background_0.png');
    height: 1000px;
    width: 50%;
    float: right;
    border-left: 200px solid white;
    border-top: 1000px solid transparent;
    background-attachment: fixed;
}
#logo{
    margin-top: 3rem;
}

.logo h2 {
    margin-left: 7rem;
    margin-top: -5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 60px;
    color: black;
}

.logo h2 span {
    font-weight: normal;
    font-size: 24px;
    position: relative; 
    top: -40px;
    color: black;
}

#new {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 115px;
    color: black;
}

p{
    font-size: 24px;
    line-height: 2;
}

#one {
margin-right: 25%;
line-height: 2;
}

#winner {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 250px;
    height: 250px;
}

.green-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: 25px;
    color:white;
    background-color:#3C974C;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem;
    width: 600px;
    margin: 1rem;
    
}

.green-button:hover {
    background-color:white;
    border: solid #3C974C;
    color: #3C974C;
}
.second{
    height: 800px;
    animation: pulse 5s infinite;
    position: relative;
}

@keyframes pulse {
    0% {
      background: #3C974C url("../img/background_3.png");
      
    }
    50% {
        background: #3C974C url("../img/background_2.png");
        -moz-transform: rotate(360deg);
    }
    100% {
        background: #3C974C url("../img/background_3.png");
        
      }
  }
#understand{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-left: 50%;
}
.second-box{
    margin-right: 8rem;
}
#two{
    margin-left: 50%;
    color: white;
    margin-bottom: -8rem;
    text-align: justify;
}
.white-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: 25px;
    color: #3C974C;
    background-color:white;
    border-radius: 10px;
    padding: 0.5rem;
    width: 600px;
    margin-top: 10%;
    position: absolute;
    z-index: 1;
    margin-left: 50%;
    
}
.white-button:hover {
    background-color:#3C974C;
    border: solid 2px; white;
    color: white;
}
#oil{
    position: absolute;
    bottom: 140px;
    left: 70px;
    z-index: 1;
}

#example{
    position: absolute;
    bottom: 70px;
    left: 390px;
    z-index: 1;
}
.third{
    min-height: 800px;
    background: url("../img/background_4.png");
    background-repeat: no-repeat;
}

#three{
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 10%;
    line-height: 2;
    color: #3C974C;
}

.fourth{
    margin-left: 8rem;
}

.b-box {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    color: black;
    padding-bottom: 2rem;
}
.four-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.four-flex-items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.separator{
    border-left: 4px solid #3C974C;
    height: 300px;
    padding-right: 0.5rem;
    padding-left: 3rem;
}
#relax-pack{
    width: 300px;
}
.img-logos{
    width: 250px;
    height: 250px;
}
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}

.title{
    font-weight: 700;
    font-size: 30px;
    padding: 2rem;
}

.box-price{
    display: flex;
    flex-direction: column;
} 
.mail-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green-span{
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
}
.green-span:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.mail-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    color: white;
}
.mail-btn:hover{
    background-color: white;
    border: solid 2px #3C974C;
    margin: 2rem;
    color: #3C974C;
}
input{
    border: solid 1px rgb(175, 151, 151);
    padding:  1rem 5rem 1rem 5rem;
    font-size: 20px;
    text-align: center;

}
.fifth{
    margin-bottom: 6rem;
}
.fifth-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.fifth-subtitle{
    display: flex;
    justify-content: center;
}
.fifth-star{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin: 2rem;
}
.star-review{
    color:#3C974C;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}
.name{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;

}
.size{
    color: #3C974C;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.sixth{
    margin-top: 9rem;
    color: white;
    background-color: #3C974C;
    padding: 4rem;
}
.fqa{
    font-weight: bold;
    padding-bottom: 2rem;
}
.fqa-list{
    display: flex;
    justify-items: row;

}
.sixth p {
    font-size: 15px;
    text-align: justify;
}
.fqa-right{
    margin-left: 2rem;
}
}
/* ------------- PHONE FORMAT ------------- */

@media only screen and (max-width: 768px) {

.first{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

#logo{
    width: 60px;
    padding-top: -1rem;
}

.logo h2 {
    padding-left: 4rem;
    margin-top: -3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.logo h2 span {
    font-weight: normal;
    font-size: 10px;
    position: relative; 
    top: -15px;
    color: black;
}

#new {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 38px;
    color: black;
    margin-top: 2rem;
}

p{
    font-size: 12px;
    text-align: justify;
    line-height: 2;
}
#one{
    padding-right: 2rem;
}
#winner {
 width: 150px;
 height: 150px;
 top: 400px;
 right: 7px;
 position: absolute;
}

.green-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 15px;
    color:white;
    background-color:#3C974C;
    border-radius: 10px;
    border-style: none;
    padding: 0.8rem;
    width: 200px;
    margin-bottom: 4rem;
}

.green-button:hover {
    background-color:white;
    border: solid #3C974C;
    color: #3C974C;
}

.candy {
    animation: bgFadeIn 1s ease-in both;
    position: relative;
    padding: 28px;
    text-align: center;
}
.candy:before {
    background: url("../img/background_1.png");
    background-color: #ccc;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 600px;
  }

.second{
    margin-top: 30rem;
    height: 520px;
    animation: pulse 5s infinite;
    position: relative;
}

@keyframes pulse {
    0% {
      background: #3C974C url("../img/background_3.png");
      
    }
    50% {
        background: #3C974C url("../img/background_2.png");
        -moz-transform: rotate(360deg);
    }
    100% {
        background: #3C974C url("../img/background_3.png");
        
      }
  }
#understand{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.second-box{
    margin: 1rem;
}
#two{
    color: white;
    width: 50%;
}
.white-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 15px;
    color: #3C974C;
    background-color:white;
    border-radius: 10px;
    padding: 0.8rem;
    width: 200px;
    z-index: 1;
    position: absolute;
    
}
.white-button:hover {
    background-color:#3C974C;
    border: solid 2px; white;
    color: white;
}
#oil{
   width: 190px;
   height: 190px;
   position: absolute;
   bottom: 140px;
   left: 300px;
   z-index: 1;
}
#example{
   display: none;
}

.third{
    min-height: 800px;
    background: url("../img/background_4.png");
    background-repeat: no-repeat;
    padding: 1rem;
    padding-top: 5rem;
}

#three{
    padding-top: 10%;
    color: #3C974C;
}

.b-box {
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 25px;
    color: black;
    padding-bottom: 1rem;
}

#four{
    margin: 1rem;
}
.img-logos{
    width: 100px;
    height: 100px;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    padding: 5rem;
}
#left-box{
    padding-left: 12rem;
}  
#right-box{
    padding-left: 55rem;
} 
.mail-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green-span{
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
}
.mail-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #3C974C;
    margin: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    color: white;
}
.mail-btn:hover{
    background-color: white;
    border: solid 2px #3C974C;
    margin: 2rem;
    color: #3C974C;
}
input{
    border: solid 1px rgb(175, 151, 151);
    padding:  1rem 5rem 1rem 5rem;
    font-size: 20px;
    text-align: center;

}

}


/* ----------WAVE--------- */

body {
    overflow-x: hidden;
  }

.green-ocean {
    height: 5%;
    position: absolute;
  }
  
  .wave {
    background: url("../img/wave.png") repeat-x;
    position: absolute;
    top: -78px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .wave-2 {
    background: url("../img/wave_2.png") repeat-x;
    position: absolute;
    top: -78px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @-webkit-keyframes swell {
    0%, 100% {
      -webkit-transform: translate3d(0, -25px, 0);
              transform: translate3d(0, -25px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
    }
  }
  @keyframes swell {
    0%, 100% {
      -webkit-transform: translate3d(0, -25px, 0);
              transform: translate3d(0, -25px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
    }
  }

  .flip-diagonal-2-fwd.triggeredCSS3 {
	-webkit-animation: flip-diagonal-2-fwd 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-diagonal-2-fwd 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.slide-in-right.triggeredCSS3 {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-diagonal-2-fwd {
    0% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
    }
    100% {
      -webkit-transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
              transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
    }
  }
  @keyframes flip-diagonal-2-fwd {
    0% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
    }
    100% {
      -webkit-transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
              transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
    }
  }
hr{
    border: solid 0.5px gray;
    margin-left: 8rem;
    margin-right: 8rem;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  .swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out 1s both;
	        animation: swirl-in-fwd 0.6s ease-out 1s both;
}
  @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  
  .fade-in.triggeredCSS3 {
	-webkit-animation: fade-in 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	        animation: fade-in 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tracking-in-expand.triggeredCSS3 {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .bounce-in-fwd.triggeredCSS3 {
    -webkit-animation: bounce-in-fwd 1.1s 0.5s both;
    animation: bounce-in-fwd 1.1s 0.5s both;
  }
  @-webkit-keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  .bounce-in-top-1.triggeredCSS3  {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
.bounce-in-top-2.triggeredCSS3  {
	-webkit-animation: bounce-in-top 1.1s 0.5s both;
	        animation: bounce-in-top 1.1s 0.5s both;
}
.bounce-in-top-3.triggeredCSS3  {
	-webkit-animation: bounce-in-top 1.1s 0.9s both;
	        animation: bounce-in-top 1.1s 0.9s both;
}
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  .slide-in-elliptic-right-fwd.triggeredCSS3 {
    -webkit-animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both,  floatingFox 4s 3s infinite;
            animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both,  floatingFox 4s 3s infinite;
  }
  .slide-in-elliptic-right-2.triggeredCSS3 {
    -webkit-animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both,  floatingFox 4s 2s infinite;
            animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both,  floatingFox 4s 2s infinite;
  }
  @-webkit-keyframes slide-in-elliptic-right-fwd {
    0% {
      -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
              transform: translateX(800px) rotateY(-30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
              transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: -1800px 50%;
              transform-origin: -1800px 50%;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-right-fwd {
    0% {
      -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
              transform: translateX(800px) rotateY(-30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
              transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: -1800px 50%;
              transform-origin: -1800px 50%;
      opacity: 1;
    }
  }
  .wobble-hor-bottom.triggeredCSS3 {
    -webkit-animation: wobble-hor-bottom 0.8s 4 both;
            animation: wobble-hor-bottom 0.8s 4 both;
  }
  @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  .roll-in-right.triggeredCSS3 {
    -webkit-animation: roll-in-right 0.8s ease-out 0.5s both, floatingFox 4s 1.5s infinite;
            animation: roll-in-right 0.8s ease-out 0.5s both, floatingFox 4s 1.5s infinite;
  }
  @-webkit-keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  .slide-in-blurred-right.triggeredCSS3 {
    -webkit-animation: slide-in-blurred-right 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2.9s both, floatingFox 4s 4s infinite;
            animation: slide-in-blurred-right 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2.9s both, floatingFox 4s 4s infinite;
  }  
  @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  .fade-in-left.triggeredCSS3 {
    -webkit-animation: fade-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both, floatingFox 4s 2s infinite;
            animation: fade-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both, floatingFox 4s 2s infinite;
  }
  @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  .floating {
    animation: floatingFox 4s 1s infinite;
    /* animation-delay: 4s; */
  }

  @keyframes floatingFox {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translate(0px);
    }
  }

  .scale-in-center.triggeredCSS3 {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
